body {
  margin: 0;
}
h1{
  margin-top: 0;
}



/***************************CLASS SELECTORS***************************/
.top-container {
  background-color: #e8eae6;
      height: 200px;
      padding: 20px;
      border: solid 10px;
      width: 200px;
}
.middle-container {
  background-color: red;
      height: 200px;
      width: 200px;
      margin-left: 260px;
      border: solid 20px;
  
}
.bottom-container{
  background-color: yellow;
      height: 200px;
      width: 200px;
      margin-left: 500px;
      border: solid 10px;
}

/***************************ID SELECTORS***************************/
